@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.oswald{
    font-family: 'Oswald', sans-serif;
}

.josefinsans{
    font-family: 'Josefin Sans', sans-serif;
}

.ysabeau{
    font-family: 'Ysabeau', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}